@import 'variables';

$header-height: 2.5rem;

.player-edit {
  margin-top: 3.5rem;
  padding-top: calc(#{$header-height} + 1px); // 1px for border of header
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  label {
    margin: 5px;
  }

  button {
    background-color: $fog;
    border-radius: 5px;
    margin: 5px;

    &:hover {
      cursor: pointer;
    }
  }

  input {
    border-radius: 5px;
    margin-left: 3px;
  }

  select {
    background-color: $snow;
    margin-left: 3px;
  }
}
